* {
    font-family: "Roboto", sans-serif;
    margin:0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    
}

.header h3 {
    font-size: 24px;
    color: #F9FAF8;
}



ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;

    font-size: 18px;
    color: #E5E7EB;
    gap: 15px;

}


a {
    text-decoration: none;
    color: white;
}


.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #1F2937;
    color: #E5E7EB ;
    gap: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.content button {
    background-color: #3882F6;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;;
    color: white;
    flex-grow: 0;
    max-width: 150px;
}

.content p {
    font-size: 18px;
}

.content h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}




.info-hub {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 50px 150px;
}

.info-hub h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.info {
    display: flex;
    gap: 50px;
    text-align: center;

}

.info p {
    max-width: 160px;
}

.info img {
    border-radius: 15px;
}



.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 50px 150px;

}

.quote p {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

#name {
    font-size: 18px;
    font-weight: 900;
    align-self: flex-end;
}



.action {
    display: flex;
    background-color: #3882F6;
    color: #E5E7EB;
    margin: 50px;
    justify-content: space-between;
    padding: 45px 60px;
    align-items: center;
    border-radius: 10px;
}

.action button {
    background-color: #3882F6;
    color: #E5E7EB;
    border-color: #E5E7EB;
    border-radius: 15px;
    border-width: 2px;

    padding: 15px;
}